body {
    background: salmon;
}

.navigation {
    color: black;
    font-size: 12px;
    background: #d7e6ec;
}

.footer {
    color: black;
    font-size: 12px;
    background: #d7e6ec;
}

.mainHeader {
    color: tomato;
    font-size: 32px;
    background: #2d2241;
}

.sectionHeader0 {
    color: #0e739b;
    background: pink;
}

.sectionHeader1 {
    color: #5a0c0c;
    font-size: 30px;
}

.smallHeader {
    font-size: 20px;
    font-weight: 800;
}

.img {
    color: #5a0c0c;
}

.httpCode0 {
    color: darkcyan;
}

.httpCode1 {
    color: green;
}

.httpCode2 {
    color: blue;
}

.httpCode3 {
    color: orangered;
}

.httpCode4 {
    color: red;
}

.sectionHttpCode {
    font-size: 16px;
    background: #47dac6;
}

.js {
    font-size: 20px;
    color: red;
}

.h1 {
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    font-size: 4rem;
    color: #f9c802;
}

.terminal {
    color: white;
    background: black;
}

.terminalText {
    margin-left: 30px;
}

.paragraph {
    color: darkblue;
}