body {
    background: #fff;
}

.main{
    width:100%;
    max-width: 800px;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 50px;
}

.navigation {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    box-sizing: border-box;
    padding: 16px;
    background: #fff;
}

.navigation__link {
    text-decoration: none;
    color: #1a936f
}

.homepage {
}

.homepage__div {
    padding:10px;
    border: 3px solid #00487c;
    margin:10px auto;
    width: 150px;
}

.homepage__header {
    padding:0;
    background: #1a936f;
    border: 3px solid #00487c;
    border-radius: 30px;
    width: 100%;
    max-width: 680px;
    height: 100px;
    margin:10px auto;
    box-sizing: border-box;
}

.homepage__header-title {
    text-transform: uppercase;
    font-size: 48px;
    color: #00487c;
    text-align: center;
}

.homepage__link {
    text-decoration: none;
    color: #1a936f;
    font-size: 30px;
}

.homepage__section {
    border: 3px solid #00487c;
    width:100%;
    margin: 0 auto;
}

.up{
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.img {
    color: #00487c;
    margin: 10px auto;
    width: 100%;
}

.imgKorsan {
    box-sizing: border-box;
    border: 2px solid #00487c;
    max-width: 200px;
    width: 100%;
    float: left;
    margin: 16px 16px 16px 0;
}

.httpCode0 {
    color: darkcyan;
}

.httpCode1 {
    color: green;
}

.httpCode2 {
    color: blue;
}

.httpCode3 {
    color: orangered;
}

.httpCode4 {
    color: red;
}

.sectionHttpCode {
    font-size: 16px;
    background: #5DA9E9;
}

.h1 {

}

.h2 {
    color: black;
    font-size: 30px;
    padding:5px 0 5px 20px;
    border: 3px solid #00487c;
    width:100%;
    margin: 0 auto;
}
.h3 {
    color: #00487c;
    font-size: 20px;
    font-weight: 800;
    margin: 5px;
}

.terminal {
    color: white;
    background: black;
    width: 160px;
    margin: 0;
}

.paragraph {
    color: black;
    font-size: 18px;
    padding:0 0 0 30px;
}

.attention {
    width: 300px;
    font-size: 20px;
    color: red;
    font-weight: 800;
    margin: 10px auto;
}

.lorem {
    width : 100%;
    max-width: 80vw;
    max-height: 400px;
    overflow: scroll;
    margin: 0 auto;
}

.box, .boxTest, .boxTest1{
    width: 100px;
    height: 100px;
    background: yellowgreen;
    padding: 10px;
    border: 10px solid red;
    box-sizing: border-box;
    position: absolute;
    top: 60px;
    right: 10%;
}

.box {
    z-index: 2;
    position: absolute;
}

.boxTest {
    top: 90px;
    right: 5%;
    background: blueviolet;
    z-index: 3;
}


.sectionBox {
    position: relative;
    overflow: hidden;

}

