body {
    background: #fff;
}

.main {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 50px;
}

.navigation {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    box-sizing: border-box;
    padding: 16px;
    background: #fff;
}

.navigation__link {
    text-decoration: none;
    color: #1a936f;
    margin-right: 20px;
}

.footer {
    bottom: 10px;
    left: 10px;
    clear: both;
}

.footer__link {
    text-decoration: none;
    color: #1a936f;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.footer__paragraph {
    font-size: 14px;
}

.homepage {
    box-sizing: border-box;
}

.homepage__div {
    padding: 10px;
    border: 3px solid #00487c;
    margin: 10px auto;
    width: 150px;
    text-align: center;
}

.homepage__header {
    padding: 0;
    background: #1a936f;
    border: 3px solid #00487c;
    border-radius: 30px;
    width: 100%;
    max-width: 680px;
    height: 100px;
    margin: 10px auto;
    box-sizing: border-box;
}

.homepage__header-title {
    text-transform: uppercase;
    font-size: 48px;
    color: #00487c;
    text-align: center;
}

.homepage__link {
    text-decoration: none;
    color: #1a936f;
    font-size: 30px;
}

.homepage__section {
    border: 3px solid #00487c;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
}

.article {
    margin: 10px auto;
}

.article__header {
    padding: 10px;
    margin: 10px auto;
    width: 400px;
    height: 50px;
    box-sizing: border-box;
}

.article__title {
    color: #1a936f;
    font-size: 40px;
    text-align: center;
    margin: 0;
    line-height: 25px;
    text-transform: uppercase;
}

.day {
    margin: 15px 0;
}

.day__paragraph {
    color: black;
    font-size: 18px;
    padding: 0 0 0 30px;
}

.day__subtitle {
    color: #00487c;
    font-size: 20px;
    font-weight: 800;
    margin: 20px;
}

.day__title {
    color: black;
    font-size: 30px;
    padding: 5px 0 5px 20px;
    border: 3px solid #00487c;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
}

.lorem {
    width: 100%;
    max-width: 80vw;
    max-height: 400px;
    overflow: scroll;
    margin: 15px auto;
}

.http-code {
    background: #C1E0F7;
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
    box-sizing: border-box;
    border: solid grey 3px;
    border-radius: 30px;
}

.http-code__text {
    color: black;
    font-size: 18px;
    font-weight: 800;
    text-align: center;
}
 
.http-code__text--color2 {
    color: green;
}

.http-code__text--color3 {
    color: blue;
}

.http-code__text--color4 {
    color: orangered;
}

.http-code__text--color5 {
    color: red;
}

.attention {
    width: 300px;
    font-size: 20px;
    color: red;
    font-weight: 800;
    margin: 20px auto;
    box-sizing: border-box;
    padding: 10px;
    border: 3px grey solid;
    text-align: center;
}

.terminal {
    color: white;
    background: black;
    width: 160px;
    margin: 0;
}

.img-korsan {
    margin: 0;
}

.img-korsan__picture {
    box-sizing: border-box;
    border: 2px solid #00487c;
    max-width: 200px;
    width: 100%;
    margin: 16px 16px 16px 50px;
    overflow: hidden;
    border-radius: 50%;
}

.img-korsan__signature {
    font-size: 12px;
    color: grey;
    margin-left: 70px;
}

.img-box-model {
    margin: 10px auto;
    width: 100%;
}

.img-box-model__korsan {
    box-sizing: border-box;
    border: 2px solid #00487c;
    max-width: 100px;
    width: 100%;
    margin: 15px;
    float: left;
}

.img-bem {
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}